#user-id {
    
    font-size: 25px;
    width: 75%;
    height: 100%;
    padding: 1px;
    word-break: break-word !important;
    overflow: auto !important;
    text-overflow: unset;
    
}
.header div{
    float: left;
}
.header {
    padding-top: 15px !important;
}
