#user-id {
    
    font-size: 25px;
    width: 75%;
    height: 100%;
    padding: 1px;
    word-break: break-word !important;
    overflow: auto !important;
    text-overflow: unset;
    
}
.header div{
    float: left;
}
.header {
    padding-top: 15px !important;
}
.message-wrapper{
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.canvas-animation{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 0;
	background: url('../trans2.png') transparent;
	background-repeat: no-repeat;
	/*opacity: 0;*/

  	background-size: cover;
}

.main-container-background{
	/*position: absolute;*/
	/*width: 500px;
	height: 500px;*/
	/*z-index: 20;*/
	background: url('../background2.jpeg');
	background-repeat: no-repeat;
  	background-size: cover;
	background-position: center center; 
}
#disconnected {
	background: radial-gradient(circle, red, green, blue) !important;
	background-size: 400% 400% !important;
	-webkit-animation: disconnectedAnimation 5s ease infinite !important;
	-moz-animation: disconnectedAnimation 5s ease infinite !important;
	animation: disconnectedAnimation 5s ease infinite !important;
	color: white;
}

@-webkit-keyframes disconnectedAnimation {
    0%{background-position:0% 91%}
    50%{background-position:100% 10%}
    100%{background-position:0% 91%}
}
@-moz-keyframes disconnectedAnimation {
    0%{background-position:0% 91%}
    50%{background-position:100% 10%}
    100%{background-position:0% 91%}
}
@keyframes disconnectedAnimation {
    0%{background-position:0% 91%}
    50%{background-position:100% 10%}
    100%{background-position:0% 91%}
}